body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.h-img{
    height: 350px;
    object-fit: cover;
}


.w-select{
    width: 170px;
}

.bg-veneno{
    background-color: blueviolet;
}

.bg-planta{
    background-color:yellowgreen;
}

.bg-fuego{
    background-color:orange;
}

.bg-volador{
    background-color:rgb(71, 227, 251);
}

.bg-agua{
    background-color:cornflowerblue;
}

.bg-bicho{
    background-color:rgb(106, 159, 0);
}