body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.h-img{
    height: 350px;
    object-fit: cover;
}


.w-select{
    width: 170px;
}

.bg-veneno{
    background-color: blueviolet;
}

.bg-planta{
    background-color:yellowgreen;
}

.bg-fuego{
    background-color:orange;
}

.bg-volador{
    background-color:rgb(71, 227, 251);
}

.bg-agua{
    background-color:cornflowerblue;
}

.bg-bicho{
    background-color:rgb(106, 159, 0);
}

@media (width >= 768px){
    .w-md-card{
        width: 348px;
    }
}

.cajita-fixed{
    width: 50px;
    border-radius: 0px 7px 7px 0px;
    position: fixed;
    top: 406px;
}

@media (width >= 992px){
    .w-lg-card{
        width: 312px;
    }
    .cajita-fixed{
    width: 60px;
}
}