body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.h-img{
    height: 350px;
    object-fit: cover;
}


.w-select{
    width: 170px;
}

.bg-veneno{
    background-color: blueviolet;
}

.bg-planta{
    background-color:yellowgreen;
}

.bg-fuego{
    background-color:orange;
}

.bg-volador{
    background-color:rgb(71, 227, 251);
}

.bg-agua{
    background-color:cornflowerblue;
}

.bg-bicho{
    background-color:rgb(106, 159, 0);
}

@media (width >= 768px){
    .w-md-card{
        width: 348px;
    }
}

.cajita-fixed{
    width: 50px;
    border-radius: 0px 7px 7px 0px;
    position: fixed;
    top: 406px;
}

@media (width >= 992px){
    .w-lg-card{
        width: 312px;
    }
    .cajita-fixed{
    width: 60px;
}
}

.bg-detalle{
    background-color: #30a7d7;
}

.nav-link{
    transition: all 400ms;
}

.nav-link:hover{
    color: white !important;
}

/* .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
} */